<h1>Posts showing</h1>
<div class="main post-main">
  <div class="post-header">
    <span><strong>Post #<%= @post.id %> by <%= @user.name %> </strong></span>
  </div>
  <div class="post-body">

    <p><%= @post.title %></p>
    <p><%= @post.text %></p>
  </div>
</div>

<%= button_to 'Like', user_post_likes_path(@user, @post), method: :post, class: "btn btn-primary" %>

<p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>

<div class="comments">

<% if @post.comments_counter > 0 %>
  <% @comments.each do |comment| %>
    <div class="commenter">
      <% author = User.find(comment.author_id) %>
      <p><%= author.name %>:</p>
      <p><%= comment.text %></p>
    </div>
  <% end %>
<% end %>
  <%= link_to "Add Comment", new_user_post_comment_path(@user, @post), class: "btn btn-primary" %>

</div>